<html>
	<head>
		<title>
			Login page
		</title>
		<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="Skeleton-2.0.4/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="Skeleton-2.0.4/css/skeleton.css">
		<script src="js/react-15.0.1/build/react.js"></script>
		<script src="js/react-15.0.1/build/react-with-addons.js"></script>
    	<script src="js/react-15.0.1/build/react-dom.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    	<script type="text/babel" src="js/javaScript.js"></script>
	</head>
	<body class="container">
		
		    <div id="loginPage" class="eight columns offset-by-two">
            </div>
        
		<script type="text/jsx" src="js/javaScript.js"></script>
	</body>
</html>

