/*@keyframes flashing
{
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75%  {background-color: green;}
    100% {background-color: red;}
}

body
{
    background-color: #F6F2E0;
    animation-name: flashing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
*/
