html, body {
	height:100%;
	width: 100%;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color:#FFFFFF;
}

.container {
  	height: 100%;
  	width: 100%;
  	max-width: 100%;
  	background-color: #4F9FAE;
}

#desktopHeader {
	background-color: #076172;
	height:40px;
}

#profile {
	height:100%;
	background-color: transparent;
	border-left: solid 2px;
	border-color: #107D91;
	cursor: pointer;
}

#profileName {
	line-height: 40px;
	text-indent: 20px;
	text-transform: uppercase;
}

#courseContent {
	height: calc( 100% - 70px );
	margin-left:2%;
	margin-top:1%;
	background-color: #FAFAFA;
}

.navigation {
	height: calc( 100% - 40px );
}

#desktopNavigation {
	background-color: #2E8697;
	border-right: 2px solid #2E8697;
	margin:0;
}

.menuItem {
	margin-top: 5%;
	margin-left: 3%;
	height:34px;
	width:100%;
	min-width: 100px;
	background-color:#076172;
	text-transform: uppercase;
  	cursor: pointer;
  	text-indent: 10px;
}

.navigationText {
	line-height: 34px;
	font-weight: 600;
}

#footer {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color:#000000;
	text-align: center;
}

#legalText {
	color:#D9853B;
	line-height: 50px;
	margin:0;
}