html, body {
	height:100%;
	width: 100%;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Libre Baskerville', serif;
	color: #424242;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color:#FFFFFF;
}

input {
	border-radius: 10px !important;
}

#courseContent h1,
#courseContent h2,
#courseContent h3,
#courseContent h4,
#courseContent h5,
#courseContent h6 {
    color:#076172;
}

.container {
  	height: 100%;
  	width: 100%;
  	max-width: 100%;
  	background-color: #4F9FAE;
}

#desktopHeader {
	background-color: #076172;
	height:40px;
}

#profile {
	height:100%;
	background-color: transparent;
	border-left: solid 2px;
	border-color: #107D91;
	cursor: pointer;
}

#profileName {
	line-height: 40px;
	text-indent: 20px;
	text-transform: uppercase;
}

#courseContent {
	height: calc( 100% - 70px );
	margin-left:2%;
	margin-top:1%;
	background-color: #FAFAFA;
	border-radius: 5px;
	overflow-y:auto;
	overflow-x:hidden;
}

.innerContent {
	margin:30px;
}

#desktopNavigation {
	height: calc( 100% - 40px );
	overflow-y:auto;
	overflow-x:hidden;
	background-color: #2E8697;
	border-right: 2px solid #2E8697;
	margin:0;
}

.menuItem {
	margin-top: 5%;
	margin-left: 3%;
	text-transform: uppercase;
  	cursor: pointer;
  	text-indent: 10px;

}

.menuItem > div{
	height:24px;
  	border-bottom: 2px solid #4F9FAE;
    width: 100%;
}

.SCButton {
	height:40px;
	line-height:40px;
	border-radius: 10px;
	background-color: #EC7E15;
	border: 2px solid #FAFAFA;
	color:#FAFAFA;
}

.SCButton:hover {
	color:#FAFAFA;
	background-color:#F59B46;
	border: 2px solid #FAFAFA;
}

.navigationText {
	line-height: 24px;
	font-weight: 300;
}

#footer {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color:#000000;
	text-align: center;
}

#legalText {
	color:#D9853B;
	line-height: 50px;
	margin:0;
}

#videoDivFrame {
    height: calc( 100% - 70px );
    width: 100%;

}

iframe {
    height: inherit;
    width: inherit;
    overflow: hidden;
    border: 0px;
}

/* ERIK MENYGREJER */

#desktopNavigation ul {
	list-style-type:none;
	list-style-position: inside;

}
#desktopNavigation ul ul{
	font-size: 100%;
}

.invisible {
    display: none;
}
.done {
    margin-left:0px;
}
#desktopNavigation li {
    color: gray;
}
#desktopNavigation li.active {
    color: white;
}

#students-table tbody tr:hover{
	background-color: #2D728F;
}

