/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0.1; opacity:1/8;/* IE9 only */ } 
                            to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0.1; opacity:1/8;/* IE9 only */ } 
                         to { opacity:1; } }
@keyframes fadeIn { from { opacity:0.1; opacity:1/8;/* IE9 only */ } 
                    to { opacity:1; } }


/*defines that the animation is for the form and how it behaves*/
form {
    opacity:0.2;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    /*make the form stay at opasity 1 after animation*/
    -webkit-animation-fill-mode:forwards;   
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    /*animaton time*/
    -webkit-animation-duration:0.4s;
    -moz-animation-duration:0.4s;
    animation-duration:0.4s;
}

/*specifies the height and background of the site*/
html
{   
    background: rgb(79, 159, 174);
	background: -moz-linear-gradient(81deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);
	background: -webkit-linear-gradient(81deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);
	background: -o-linear-gradient(81deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);
	background: -ms-linear-gradient(81deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);
	background: linear-gradient(171deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);

	background-repeat: no-repeat;
	background-attachment: fixed;

    height: 100%;
    width:100%;
}

body{
    display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;          /*chrome*/
    height: 100%;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
    -webkit-box-align: center;

	align-items: center;    /*chrome*/
	

}

/*text attributes, centers text, shadow of text*/
h1
{
    text-align:center;
	color: white;
	text-shadow: 0px 0px 8px black;

}

/*background and border for the form*/
form
{
	background-color: #107D91;

	
    border-width : 3px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 6px 2px rgba(0,0,0,0.3);;
}

p{
    color:white;
    text-shadow: 0px 0px 8px black;
    
}

/*makes the input take 100% of the width for the form and centers the text*/
input 
{
    width: 100%;
    text-align: center;
}

input:invalid{
  border-color:red;
  border-width:2px;
}


/*background and shadow of buttons*/
#loginForm > Button ,#registrationForm > Button
{
    color:white;
    width:100%;
    
    background-image: linear-gradient(rgb(236,126,21),rgb(185,94,8)); 
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.3);
}

/*button brightness when hover*/
#loginForm > button:hover
{
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);  /*chrome*/
}


