


#feedBackContainer {

    width: 50%;
    margin-left: auto ;
    margin-right: auto ;

}

#recorder{
    width: 50%;
    margin-left: auto ;
    margin-right: auto ;
}
.container{

    background-color: #2D728F;
}
#submissioncontainer{
    display: flex;
    width: auto;
}
#commentbox{
    width: 400px;
}
#passbox{
    height: 50px;
    width: 70px;
}
#dropDown{
    height: 50px;
    width: 70px;
}
#gradeAndPassContainer{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#buttonContainer {

    display:flex;
}

#courseContent {

    background-color: #2D728F;
}

/*
*Button styles
*/
button{
    background-color: #F49E4C;
}
#backbutton{
    top: 85%;
    position: relative;
    width: 135px;
    height: 50px;
    margin-right: 130px;

}
#submitbutton {
    top: 85%;
    position: relative;
    width: 135px;
    height: 50px;


}
/*
*Checkbox style
*/


#checklabel{
    position: relative;
    color: #F5EE9E;
}

/*
*Textarea style
*/
textarea{
    display: inline-block;
    position:relative;
    resize: none;
    vertical-align:middle;
    width: 400px;
    height: 200px;
}

/*
*Dropdown menu style
*/
#dropdown {
    position: relative;
    color: #AB3428;
}
