/* SHOW ASSIGNMENT VIDEO */

#countdown-div
{
	font-size: 60px;
}

#assignment-div
{
	width: 70%;
	margin:auto;
	text-align: center;
}

#record-div {
    float: left;
}

#question-div {
    float: right;
}