#newAssTitle {
	width:100%;
}

.newAssForm {
	margin-left: 10%;
	margin-right: 10%;
    margin-top:20px;
}

.contentTitle {
    text-align: center;
}

.errorMsg {
    text-align: center;
    color: #EC7E15 !important;
}

#title {
    width: 100%;
}

#dates {
    width: 100%;
    height: 68px;
}

#settings {
    width: 100%;
    height: 68px;
}

.DTContainer {
    width:30%;
    margin-right: 4%;
    float:left;
}

#rightDTContainer {
    float: right;
    margin-right: 0;
}

#grading {
    float:right;
    margin-left: auto;
    margin-right: auto;
}

.DTText {
    font-size: 62%;
    margin-bottom: 0;
}

#minTimeSeconds, #maxTimeSeconds {
    text-indent: 5px;
}

.DTContainer input {
    padding:0;
    width:100%;
}

.DTContainer select {
    padding:0;
    width:100%;
}

#startDate, #endDate, #publish {
    width:100%;
}

.editorContainer {
    margin-top: 20px;
}

#newAssButtons {
    float:right;
    margin-right: 30px;
}

#video-container {
    position:relative;
    margin-left: 20%;
    margin-right: 20%;
    width:60%;
    background-color: #2E8697;
    border: 2px solid #2E8697;
    border-radius: 10px;
}

#prev-container {
    padding-bottom: 72%;
}

#preview {
    position:absolute;
    top:40px;
    width:100%
}

#record-question {
    width:40%;
    margin-left: 4%;
    margin-right: 8%;
}

#stop-question {
    width:40%;
    margin-left: 8%;
}

#videoPageCtrls {
    float:right;
    margin-right: 20%;
    margin-top: 24px;
}