
.recControls {
    display: inline-block !important;
}

#faq-text{
    overflow-y: scroll;
    max-height: 500px;
    text-align:left;
}

#faq-className {
    height: 70%;
    background-color:white;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
}

#FAQ-header {
    background-color: #076172;;
    color:white;
    text-align:center;
    padding:5px;

}

#FAQ-section {
    width:350px;
    float:left;
    padding:10px;
}

#FAQ-footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}