/* by Filip Golles & Simon Lundmark 2016-05-04 */


/*CSS file for the login page*/

/*Make html and body as big as possible*/
html, body {
	margin:0;
	width:100%;
	max-height:100vh;
}

/*The background for all browsers*/
body {
	background: rgb(79, 159, 174);
	background: -moz-linear-gradient(81deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);
	background: -webkit-linear-gradient(81deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);
	background: -o-linear-gradient(81deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);
	background: -ms-linear-gradient(81deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);
	background: linear-gradient(171deg, rgb(79, 159, 174) 49.9%, rgb(7, 97, 114) 50%);
	background-repeat: no-repeat;
}

/*Margin and width of the Student Capture logo.*/
.loginLogo {
	margin-left:3%;
	margin-right:3%;
	width:94%;
}

/*Make the div as big as it needs to be*/
#loginDiv {
	height:100%;
}

/*Center all the text in the div*/
#loginPage {
	text-align: center;
}

/*Make the register button stay on a fixed position*/
#registerButton {
	position:fixed;
	top:84px;
	right:10px;
}

/*code to the next comment is self describable*/
#loginButton {
	margin-left:4%;
	margin-right:4%;
	width:92%;
}

.loginField {
	margin-left:4%;
	margin-right:4%;
	width:92%;
}

.nameField {
	width:44%;
}

#firstName {
	float:left;
	margin-right:1%;
}

#lastName {
	float: right;
	margin-left:1%;
}

#firstPass {
	float:left;
	margin-right:1%;
}

#secondPass {
	float: right;
	margin-left:1%;
}

/*Center the div*/
.forms {
	border-radius: 20px;
	position:absolute;
	top: calc(50% - 130px);
	background-color: #107D91;
}

#teacherBox{
    margin-left:4%;
    margin-right:4px;
}

#teacherText {
    color:white;
    display:inline;
}

/*center div*/
#registerPage {
	top: calc(50% - 218px)
}

/*center div*/
#lostPasswordPage {
	top: calc(50% - 135px)
}

.bckBtn {
	float:left;
	margin-right:1%;
}

.nxtBtn {
	float: right;
	margin-left:1%;
}

.regText {
	text-transform: uppercase;
	text-align: center;
}

/*adjustments and style for tooltip*/
.tooltip{
	width:300px;
	display: none;
	position: absolute;
	right:104%;
	bottom:20px;
	background-color: #107D91;
   	border: 6px solid #EC7E15;
   	border-radius: 6px;
}

/*position of tooltip*/
#uNameTip {
	bottom:100px;
}

/*position of tooltip*/
#firstPassTip {
	bottom:74px;
}

#uNamePoint {
	top:6px;
	border-top: 20px solid transparent;
   	border-left: 40px solid #EC7E15;
   	border-bottom: 20px solid transparent;
}

.tooltipText {
	color:#FAFAFA;
	line-height: 20px;
	margin-top: 10px;
	margin-left: 6px;
}

.point {
	content:"";
   	position: absolute;
   	left: 100%;
   	top: 14px;
   	width: 0;
   	height: 0;
   	border-top: 26px solid transparent;
   	border-left: 40px solid #EC7E15;
   	border-bottom: 26px solid transparent;
}

input:focus:invalid + .tooltip{
    display: block;
}

#registerPage {
    display:none;
}

input:invalid{
	color:#EC7E15;
}

#lostLink {
	cursor: pointer;
	position: relative;
	bottom:5px;
}

#lostPasswordPage {
	display:none;
}

/*------------------------------------modal-----------------------------------*/

#modalBtn {
	position: absolute;
	top:0;
	background-color: #424242;
	height:75px;
	text-align: center;
	overflow-y:auto;
	cursor: pointer;
}

#sysReqs {
	color: #fafafa;
	margin: auto;
	cursor: pointer;
}

#readMore {
	color: #EC7E15;
	cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: max-content;
    width: -moz-max-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgb(7, 97, 114);
    color: white;
    
}

.modal-body {
    padding: 2px 16px;
}


.red {
    color: red;
}

.black {
    color: black;
}

#testTable {

}
