/*
 * viewAssignment.css
 * Authors: Zacharias Berggren
 *          Joakim Sandman
 */

/* Style of assignment front page */
#assignment-div
{
	width: 70%;
	margin: auto;
	text-align: center;
}

/* Style of data on front page */
#descriptor
{
    display: inline;
    margin-left: 2rem;
}

/* Style of assignment modal */
#assignment-modal
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
}

/* Style of assignment content */
#assignment-content
{
	position: fixed;
	top: 50%;
 	left: 50%;
	width: 80%;
	height: 80%;
	transform: translate(-50%, -50%);
	z-index: 999;
	color: black !important;
	background-color: #dddddd;
	font-size: 20px;
	overflow: auto;
	padding: 50px;
}

/* Override row style for the question div content */
#question-div .row
{
    margin-left: 0px !important;
}

/* Style of assignment video */
#videoPlayer
{
    width: 100%;
}

/* Style of progress bar */
#progress-bar
{
    width: 100%;
}

#countDownContainer
{
    position: relative;
}

/* Style of countdown numbers */
#countdown-div
{
	font-size: 100px;
	text-align:center;
	top: 50%;
 	left: 50%;
	height:150px;
	color: white;
    text-shadow:
        -1px -1px 0px black,
         0px -1px 0px black,
         1px -1px 0px black,
        -1px  0px 0px black,
         1px  0px 0px black,
        -1px  1px 0px black,
         0px  1px 0px black,
         1px  1px 0px black;
    position: absolute;
	transform: translate(-50%, -100%);
	z-index: 2;
}

#videoTitle
{
    display: inline-block;
}

#recorder-div > div > #rec-text
{
	display: none;
}

#studentPreview > #preview
{
    position: relative;
    top: 0px;
}

#studentSubmit:disabled
{
    background: #bfbfbf
}
#studentSubmit
{
    background: #40bf40
}

#withrawbutton:disabled
{
    background: #bfbfbf
}

#withrawbutton
{
    background: #cc3333
}


