/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0.1; opacity:1/8;/* IE9 only */ } 
                            to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0.1; opacity:1/8;/* IE9 only */ } 
                         to { opacity:1; } }
@keyframes fadeIn { from { opacity:0.1; opacity:1/8;/* IE9 only */ } 
                    to { opacity:1; } }

/*defines that the animation is for the form and how it behaves*/
form {
    opacity:0.2;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    /*make the form stay at opasity 1 after animation*/
    -webkit-animation-fill-mode:forwards;   
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    /*animaton time*/
    -webkit-animation-duration:0.4s;
    -moz-animation-duration:0.4s;
    animation-duration:0.4s;
}

/*specifies the height and background of the site*/
html
{
    background-image: url("img/IehB7.png");
    height: 100%;
}

/*moves the body more down of the page*/
body
{

    position: relative;
    top:20%;
}

/*text attributes, centers text, shadow of text*/
h1
{
    text-align:center;
	color: #ffff;
	text-shadow: 0px 0px 8px white;

}

/*background and border for the form*/
form
{
	background-image: url("img/c2.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

    border : solid thick;
    border-width : 3px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 6px 2px rgba(0,0,0,0.3);;
}

/*makes the input take 100% of the width for the form and centers the text*/
input 
{
    width: 100%;
    text-align: center;
}

/*background and shadow of buttons*/
form > Button
{
    width:100%;
    background-image: linear-gradient(rgb(224,224,224),rgb(160,160,160)); 
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.3);;
}

/*button brightness when hover*/
form>button:hover
{
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);  /*chrome*/
}

