<!-- created by:
     Simon Lundmark c13slk

     revision by:
     Filip Golles id12fgn
     
     Last update:
     2016-19-05
-->

<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <!-- text in the tab -->
		<title>
			Lost Password page
		</title>
		<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8" />
		
		<!-- css stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="css/skeleton.css"/>
		<link rel="stylesheet" type="text/css" href="css/custom.css"/>
		<!-- javascript files -->
		
		
		<!-- http://stackoverflow.com/questions/18259580/retrieve-url-parameter-and-populate-a-hidden-form-field -->
		 <script type="text/javascript">
		//<![CDATA[

                function getParameterByName(name)
                 {
                  name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                  var regexS = "[\\?&]" + name + "=([^&#]*)";
                  var regex = new RegExp(regexS);
                  var results = regex.exec(window.location.href);
                  if(results == null)
                     return "";
                  else
                 return decodeURIComponent(results[1].replace(/\+/g, " "));
                 }
              //]]>

            </script>
    	
	</head>
	
	<!-- body container that contains the form s
	that the login, registration and lost password is shown -->
	<body>

        <!-- div containing all the forms.-->
		<div id="loginDiv">

            <form id="lostPasswordPage" class="forms four columns offset-by-four"
                 th:action="@{/changePassword}" method="POST">

                <img src="images/sc-logo.png" class="loginLogo" />
                <h6 class="regText">reset password</h6>

                <input type="password" id="firstPass" class="loginField nameField"
                       placeholder="password" name="password"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$"
                       required="required" />

                    
                <input type="password" id="secondPass" class="loginField nameField"
                       placeholder="repeat password" name="confirmpassword"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$"
                       required="required" />
                       
                <input type="hidden" name="username" id="username"/>
	            <script type="text/javascript">
	                document.getElementById("username").value = getParameterByName("username");
	            </script>
	            
	            <input type="hidden" name="token" id="token"/>
	            <script type="text/javascript">
	                document.getElementById("token").value = getParameterByName("token");
	            </script>
                       
                <button type="button" id="cnclBtn2" class="SCButton bckBtn loginField nameField">
                    Cancel
                </button>
                <button type="submit" id="recoverBtn" class="SCButton nxtBtn loginField nameField">
                    Change password
                </button>

            </form>
		</div>
	</body>

</html>

