

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>
			Login page
		</title>
		<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8"></meta>
		<!--/*<meta name="_csrf_token" th:content="${_csrf.token}"/>
		<meta name="_csrf_parameter" th:content="${_csrf.parameterName}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/> */-->
		<link rel="stylesheet" type="text/css" href="css/normalize.css"></link>
		<link rel="stylesheet" type="text/css" href="css/skeleton.css"></link>
		<link rel="stylesheet" type="text/css" href="css/loginStyleBlue.css"></link>
	

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="build/react.js"></script>
    	<script src="build/react-dom.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    	<script type="text/babel" src="src/loginScript.js"></script>
	</head>
	<body class="container">
	
		
		    <form id="loginPage" class="eight columns offset-by-two" th:action="@{/login}" method="POST">
        	</form>
	</body>
</html>

